In [10]:
#Regras para nomes de variáveis 
#Nome de variável não pode começar com número 
#Não pode haver espaço no nome 
#Não pode usar alguns simbolos

In [16]:
joshuel=5

In [17]:
joshuel

5

In [18]:
type(joshuel)

int

In [5]:
A=10

In [3]:
5+A

15

In [4]:
print(A)

10

In [15]:
#Operadores lógicos
#and 
#or
#not

# Declaração múltipla

In [21]:
Banana, Maçã, Uva = "Amarela", "Vermelha", "Verde"

In [22]:
Banana

'Amarela'

In [23]:
Maçã

'Vermelha'

In [24]:
Uva

'Verde'

# Variáveis atribuidas a outras variáveis

In [27]:
base= 5

In [28]:
altura= 2

In [29]:
área= base*altura

In [30]:
área

10

# Concatenação de variáveis

In [34]:
nome= "Shuel" #Entre aspas pois é string

In [35]:
sobrenome= "Nobre"

In [40]:
nome_completo= nome + " " + sobrenome

In [41]:
nome_completo

'Shuel Nobre'