# Acessando Banco de Dados com Python

In [1]:
# Remove o arquivo de banco de dados caso exista
import os 
os.remove ('escola.db') if os.path.exists('escola.db') else None

In [2]:
# Importando o módulo de acesso ao SQLite
import sqlite3

In [3]:
# Cria uma conexão com o banco de dados
# Se o banco de dados não existir, ele é criado neste momento.
con = sqlite3.connect('escola.db')

In [4]:
type(con)

sqlite3.Connection

In [5]:
# Criando um cursor
# Um cursor permite percorrer todos os registros de um conjunto de dados
cur = con.cursor()

In [6]:
type (cur)

sqlite3.Cursor

In [7]:
# Cria uma instrução sql
sql_create = 'create table cursos'\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [8]:
# Executando a instrução sql
cur.execute(sql_create)

In [9]:
# Criando outra sentença SQL para inserir registros
sql_insert = 'insert into cursos values (?, ?, ?)'

In [10]:
# Dados
recset =[(1000, 'Ciência de Dados','Data Science'),
         (1001, 'Big Data Fundamentos', 'Big Data'),
        (1002, 'Python Fundamentos', 'Análise de Dados')]

In [11]:
# Inserindo os registros 
for rec in recset:
    cur.execute(sql_insert, rec)

In [12]:
# Grava a transação
con.commit()

In [13]:
# Criando outra sentença SQL para selecionar registros
sql_select = 'select * from cursos'

In [14]:
# Selecionando todos os registros e recupera os registros
cur.execute(sql_select)
dados = cur.fetchall()

In [15]:
# Mostra
for linha in dados:
    print ('Curso Id: %d, Titulo: %s, Categoria: %s \n' % linha)

Curso Id: 1000, Titulo: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Titulo: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Titulo: Python Fundamentos, Categoria: Análise de Dados

In [16]:
# Gerando outros registros 
recset = [(1003, 'Gestão de dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Analise de Dados')]

# Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

# Gravando a transação
con.commit()

In [17]:
# Seleciona todos os registros
cur.execute('select * from cursos')

# Recupera os resultados
recset = cur.fetchall()

# Mostra 
for rec in recset:
    print('Curso Id: %d, Título: %s, Categoria: %s' % rec)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science
Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data
Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados
Curso Id: 1003, Título: Gestão de dados com MongoDB, Categoria: Big Data
Curso Id: 1004, Título: R Fundamentos, Categoria: Analise de Dados

In [18]:
# Fecha a conexão
con.close()