# Exercícios

In [11]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
List=[1,2,3,4,5,6,7,8,9,10]
print(List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
Frutas=['Maçã','Goiaba','Banana','Pera','Laranja']
print(Frutas)

['Maçã', 'Goiaba', 'Banana', 'Pera', 'Laranja']

In [15]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
x = 'Estudante'
y = ' de Economia'
z = x+y+ 'do terceiro semestre'
print(z)

Estudante de Economiado terceiro semestre

In [18]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tuplinha=(1,2,2,3,4,4,4,5)
tuplinha.count(4)

3

In [19]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
K = {}
K

{}

In [21]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
Viagem = {'Guaramirangua':1200,'Caucaia':500,'Aquiraz':800}
Viagem

{'Guaramirangua': 1200, 'Caucaia': 500, 'Aquiraz': 800}

In [26]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
Viagem['Pacoti']= 650
Viagem

{'Guaramirangua': 1200, 'Caucaia': 500, 'Aquiraz': 800, 'Pacoti': 650}

In [27]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
DicionarioQLQ={'a':1,'d':4,'ef':[10,5]}
DicionarioQLQ

{'a': 1, 'd': 4, 'ef': [10, 5]}

In [36]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
Lista01=['Oi',(4,8),{'Ben':10,'Super':11},5.7] # Para saber se acertei mesmo -> type(Lista01[3])

print(Lista01)

['Oi', (4, 8), {'Ben': 10, 'Super': 11}, 5.7]

In [40]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
print(frase[0:18]) #No caso a posição 1 é Zero, Python inicia por 0

Cientista de Dados

###  Fim