# Objetos

Em python, tudo é objeto !

In [3]:
# Craindo uma lista
lst_num = ['Data', 'Science', 'Acadamy', 'Nota', 10, 10]

In [4]:
type(lst_num)

list

In [5]:
lst_num.count(10)

2

In [7]:
# Type para verificar o tipo de um objeto
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [8]:
# Criando um novo tipo de objeto chamado Carro
class Carro (object):
    pass
# Instância do Carro
palio = Carro()

print(type(palio))

<class '__main__.Carro'>

In [10]:
# Criando uma classe
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome = nome 
        self.idade = idade
        self.nota = nota

In [11]:
Estudante1 = Estudantes('Pelé', 12, 9.5)

In [12]:
Estudante1.idade

12

In [13]:
Estudante1.nome

'Pelé'

In [14]:
Estudante1.nota

9.5

In [23]:
# Criando uma classe
class Funcionarios:
    def __init__(self, nome, salario):
        self.nome = nome
        self.salario = salario
    def listFunc(self):
        print('O nome do funcionário é ' + self.nome + 'e o seu  salário é R$: ' + str(self.salario))

In [24]:
Func1 = Funcionarios('Arnaldo', '20000')

In [25]:
Func1.listFunc()

O nome do funcionário é Arnaldoe o seu  salário é R$: 20000

In [26]:
Func1.nome

'Arnaldo'

In [27]:
print('****** Usando atributos ******')

****** Usando atributos ******

In [28]:
hasattr (Func1, 'nome') # Tem o atributo ___ ???

True

In [29]:
hasattr (Func1, 'salario')

True

In [30]:
setattr (Func1, 'salario', 4500) # Se tiver o atributo salario muda o seu valor para 4500

In [31]:
hasattr (Func1, 'salario')

True

In [32]:
getattr(Func1, 'salario') # Verificando salario

4500

In [33]:
delattr(Func1, 'salario') # Deletando salario

In [35]:
hasattr(Func1, 'salario') # Salario existe ?

False